<ion-text color="primary">
  <h2 class="ion-text-center ion-padding-vertical">Booking History</h2>
</ion-text>

<ion-grid class="history-table">
  <ion-row class="header-row">
    <ion-col size="12" sizeMd="2"><strong>Service</strong></ion-col>
    <ion-col size="12" sizeMd="2"><strong>Date</strong></ion-col>
    <ion-col size="12" sizeMd="2"><strong>Time</strong></ion-col>
    <ion-col size="12" sizeMd="3"><strong>Vehicle</strong></ion-col>
    <ion-col size="12" sizeMd="3"><strong>Status</strong></ion-col>
  </ion-row>

  <ion-row *ngFor="let appointment of appointments" class="data-row">
    <ion-col size="12" sizeMd="2">{{ appointment.service }}</ion-col>
    <ion-col size="12" sizeMd="2">{{ appointment.date | date: 'shortDate' }}</ion-col>
    <ion-col size="12" sizeMd="2">{{ appointment.time }}</ion-col>
    <ion-col size="12" sizeMd="3">{{ appointment.vehicle }}</ion-col>
    <ion-col size="12" sizeMd="3">
      <ion-badge [color]="getStatusColor(appointment.status)">
        {{ appointment.status }}
      </ion-badge>
    </ion-col>
  </ion-row>
</ion-grid>
