<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="header">
      <ion-col>Customer Name</ion-col>
      <ion-col>Service</ion-col>
      <ion-col>Vehicle</ion-col>
      <ion-col>Date</ion-col>
      <ion-col>Time</ion-col>
      <ion-col>Status</ion-col>
      <ion-col>Action</ion-col>
    </ion-row>

    <ion-row *ngFor="let schedule of upcomingSchedules" class="data-row">
      <ion-col>{{ schedule.name }}</ion-col>
      <ion-col>{{ schedule.service }}</ion-col>
      <ion-col>{{ schedule.vehicle }}</ion-col>
      <ion-col>{{ schedule.date | date: 'fullDate' }}</ion-col>
      <ion-col>{{ schedule.time }}</ion-col>
      <ion-col>
        <ion-badge [color]="schedule.status === 'Upcoming' ? 'primary' : 'medium'">
          {{ schedule.status }}
        </ion-badge>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" color="primary" size="small">
          <ion-icon name="eye-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
