<ion-split-pane [when]="(isLargeScreen$ | async) ? 'lg' : 'false'" contentId="main-content">
  <!-- Sidebar Component -->
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <app-admin-sidebar></app-admin-sidebar>
    </ion-content>
  </ion-menu>

  <!-- Main Content -->
  <div id="main-content">
    <!-- Professional Header -->
    <ion-header class="admin-header">
      <ion-toolbar class="header-toolbar">
        <div class="header-content">
          <div class="header-left">
            <ion-menu-button slot="start" class="menu-button"></ion-menu-button>
          </div>
          
          <div class="header-right">
            <!-- Create Button in Header -->
            <ion-button 
              (click)="openServiceForm()" 
              fill="solid"
              color="success"
              class="create-button">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Add Service
            </ion-button>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>

    <!-- Main Content Area -->
    <ion-content class="main-content">
      <div class="content-wrapper">
        <!-- Service List Component -->
        <div class="service-list-wrapper">
          <app-service-list></app-service-list>
        </div>
      </div>
    </ion-content>
  </div>
</ion-split-pane>