<ion-toolbar class="custom-toolbar" *ngIf="screenSizeService.isLargeScreen$ | async">
  <div class="button-container">
    <!-- Logo Section -->
    <div class="logo-container">
      <span class="logo-text">GoWash</span>
    </div>

    <!-- Navigation Buttons -->
    <div class="center-buttons">
      <!-- Home Button -->
      <ion-button class="text-button active" (click)="scrollToHome()">Home</ion-button>

      <!-- Services Button -->
      <ion-button class="text-button" (click)="scrollToServices()">Services</ion-button>

      <!-- Quality Button -->
      <ion-button class="text-button" (click)="scrollToPricing()">Quality</ion-button>
    </div>

    <!-- Login Button -->
    <div class="login-button">
      <ion-button class="login-btn" routerLink="/login" routerDirection="root">Login</ion-button>
    </div>
  </div>
</ion-toolbar>
