<ion-split-pane contentId="main-content">
  <!-- Sidebar Component -->
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <app-admin-sidebar></app-admin-sidebar>
    </ion-content>
  </ion-menu>

  <!-- Main Content -->
  <div id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Admin Appointments</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <app-appointment-list></app-appointment-list>
    </ion-content>
  </div>
</ion-split-pane>
