ion-label{
    font-family: 'Poppins', sans-serif;
}

ion-menu {
    --width: 250px;
  }
  
  ion-item {
    --background-hover: #f4f4f4;
    --border-radius: 8px;
  }
  
  ion-avatar img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  