<ion-content class="sidebar-content">
  <!-- Header Section -->
  <div class="sidebar-header">
    <div class="admin-avatar">
      <ion-icon name="person"></ion-icon>
    </div>
    <div class="admin-info">
      <h3>Admin</h3>
      <p>Administrator</p>
    </div>
  </div>

  <!-- Menu Section -->
  <ion-list class="sidebar-menu">
    <ng-container *ngFor="let item of menuItems; let i = index">

      <ion-menu-toggle auto-hide="false">
        <ion-item 
          [routerLink]="item.route" 
          routerDirection="root" 
          routerLinkActive="active"
          [class.active]="item.active"
          (click)="onMenuItemClick(item)"
          button
          class="menu-item"
          [style.animation-delay]="i * 0.05 + 's'">
          <ion-icon [name]="item.icon" slot="start" class="menu-icon"></ion-icon>
          <ion-label class="menu-label">{{ item.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ng-container>
  </ion-list>

  <!-- Footer Section -->
  <div class="sidebar-footer">
    <ion-item button class="logout-item">
      <ion-icon name="log-out-outline" slot="start" class="logout-icon"></ion-icon>
      <ion-label class="logout-label">Logout</ion-label>
    </ion-item>
  </div>
</ion-content>