ion-content {
    text-align: center;
  }
  
  h2 {
    color: #3880ff;
    margin-top: 20px;
  }

  ion-split-pane {
    --side-width: 280px; /* Default width */
  
    @media (max-width: 768px) {
      --side-width: 200px; /* Smaller width on small screens */
    }
  }
  
